* {

}

body {
  background-color: #eDEADe;
}

header {
  background-color: #332533;
  color: #eDEADe;
}

.header_logo {
  background-color: rgba(0,0,0,0);
  color: #eDEADe;
}

article {
  background-color: #eDEADe;
  color: #332533; /*3B3535*/
  border-color: #332533
}

footer {
  color: #332533;
}
