
/*
  off-white:    EDEADE
  salmon:       B76D68
  blue:         2C2B3C
  off-salmon:   A65C57
  off-blue:     3D3C4D
*/

body {
  background-color: #eDEADe;
}

header {
  background-color: #2C2B3C;
}

.header_link {
  color: #eDEADe;
}

a {
  color: #B76D68;
}

a:hover {
  color: #A65C57;
}

.header_link span a:hover {
  color: #B76D68 !important;
  cursor: pointer;
}

header a:hover {
  color: #eDEADe;
}

.header_logo {
  background-color: rgba(0,0,0,0);
  color: #eDEADe;
  
  text-shadow:
  -2px -2px 0 #2C2B3C,  
   2px -2px 0 #2C2B3C,
   -2px 2px 0 #2C2B3C,
    2px 2px 0 #2C2B3C;
}

article {
  background-color: #eDEADe;
  color:  #2C2B3C;/*3B3535*/
  border-color: #2C2B3C;
}

footer {
  color: #2C2B3C;
}
