* {

}

/*
  purple:    332533
  off-white: EDEADE
  salmon:    B76D68
  brown:     3B3535
  off-blue:  2C2B3C
*/

body {
  background-color: #2C2B3C;
}

header {
  background-color: #2C2B3C;
  color: #eDEADe;
}

.header_logo {
  background-color: rgba(0,0,0,0);
  color: #eDEADe;
}

article {
  background-color: #2C2B3C;
  color: #eDEADe; /*3B3535*/
  border-color: #2C2B3C
}

footer {
  color: #eDEADe;
}
